<% if notice %>
  <div class="alert alert-success" role="alert">
    <div style="text-align: center">
      <p id="flash"><%= notice %></p>
    </div>
  </div>
<% end %>

<div class="page-header">
  <h1>Edit User</h1>
</div>

  <%= render 'form' %>

<div class="row form-group">
  <div class="actions">
    <div class="col-sm-offset-2 col-sm-7">
      <div class="well col-md-7">
        <center><%= link_to('Delete User', user_path, class:"btn btn-danger", method: :delete) %></center>
      </div>
    </div>
  </div>
</div>
